/*****************************************************/
/*******************TIPOGRAFIA************************/
/*****************************************************/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*****************************************************/
/*******************VARIABLES*************************/
/*****************************************************/

:root {
  --second-color: #222831;
  --primary-color: rgb(57, 62, 70);
  --bg-color: #00adb5;

  --font: "Poppins", sans-serif;

  --max-width: 1200px;

  --header-height: 5rem;
}

/*****************************************************/
/*******************RESET*****************************/
/*****************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  scroll-behavior: smooth;
  /* border: 1px solid red; */
}

body {
  overflow-x: hidden;
  color: var(--primary-color);
  background-color: var(--bg-color);
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

svg {
  max-width: 100%;
  height: auto;
}

/*****************************************************/
/*******************HEADER****************************/
/*****************************************************/

.header {
  background-color: #eeeeeee4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid var(--second-color);
  padding: 2rem 0;
  position: sticky;
  top: 0;
  height: var(--header-height);
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo p {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
}

.logo span {
  border: 1px solid var(--second-color);
  width: 100%;
}

.logo small {
  color: var(--second-color);
  font-weight: 500;
}

.header nav {
  display: flex;
  gap: 50px;
  font-size: 1.2rem;
  font-weight: 600;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

ul li a {
  color: var(--primary-color);
}

.navbar i {
  font-size: 2rem;
  display: none;
}

#toggle-menu {
  display: none;
}

/*****************************************************/
/**************SECTION HERO***************************/
/*****************************************************/

.hero {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 100px 0;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero-info p {
  color: var(--second-color);
  font-size: 18px;
}

.btn {
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 10px;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--bg-color);
  width: 200px;
  text-align: center;
}

/*****************************************************/
/************SECTION SERVICIOS************************/
/*****************************************************/

.servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 100px 0;
}

.servicios h2 {
  text-align: center;
}

.servicios p {
  letter-spacing: 2px;
  text-align: center;
  color: var(--second-color);
  font-size: 18px;
}

.servicios p span {
  font-weight: bold;
}

/*****************************************************/
/************SECTION CARDS************************/
/*****************************************************/

.section-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 100px 0;
}

.section-cards h2 {
  text-align: center;
}

.section-cards p {
  color: var(--second-color);
  font-size: 18px;
  text-align: center;
}

.section-cards .cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border-radius: 20px;
  gap: 10px;
  box-shadow: 0px 0px 10px 0px rgba(238, 238, 238, 0.773);
}

.card i {
  font-size: 24px;
  color: var(--second-color);
}

.card h3 {
  color: var(--primary-color);
}

.card p {
  font-size: 18px;
  text-align: center;
  color: var(--second-color);
}
/*****************************************************/
/************section contacto************************/
/*****************************************************/

.contacto {
  padding: 100px 0;
}

.contacto h2 {
  text-align: center;
  margin-bottom: 50px;
}

.info-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.ubi-redes {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.ubicacion {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.redes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link-redes {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link-redes a i {
  font-size: 24px;
  color: var(--second-color);
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formulario form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  background-color: var(--primary-color);
  border-radius: 20px;
}

.formulario input {
  width: 300px;
}

.formulario textarea {
  width: 300px;
  height: 200px;
}

input:focus {
  border: 1px solid #222831;
}

/*****************************************************/
/************FOOTER************************/
/*****************************************************/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background-color: #eeeeeee4;
}

/*****************************************************/
/************MEDIA QUERIES************************/
/*****************************************************/

@media (max-width: 992px) {
  .navbar ul {
    background-color: #eeeeeee4;
    width: 100%;
    position: absolute;
    top: var(--header-height);
    left: 0;
    flex-direction: column;
    align-items: center;
    transform: translateX(200%);
    transition: all 0.4s ease;
    padding: 0.5rem;
    border-bottom: 2px solid #222831;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 5;
  }

  .bars-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
  }

  .bars-menu span {
    height: 2px;
    width: 30px;
    background-color: var(--second-color);
    transition: transform 0.3s;
  }

  #toggle-menu:checked ~ .bars-menu span:nth-child(1) {
    position: absolute;
    top: 0;
    transform: rotate(135deg);
  }

  #toggle-menu:checked ~ .bars-menu span:nth-child(2) {
    opacity: 0;
  }

  #toggle-menu:checked ~ .bars-menu span:nth-child(3) {
    position: absolute;
    top: 0;
    transform: rotate(225deg);
  }

  #toggle-menu:checked ~ .navbar-list {
    transform: translateX(0);
  }
  .hero {
    flex-direction: column;
    padding: 50px;
  }

  .hero-info {
    align-items: center;
    text-align: center;
  }

  .hero svg {
    width: 400px;
  }

  .servicios {
    padding: 50px;
  }

  .section-cards {
    padding: 50px;
  }

  .cards {
    flex-direction: column;
  }

  .info-contacto {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
