/*tipografia*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*variables*/
:root {
  --primary-color: #003da5;
  --second-color: #dc1c2e;
  --bg-color: #fafafa;
}
/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

/*header*/

.header {
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 4px solid var(--second-color);
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo a {
  font-size: 24px;
  font-weight: 700;
  margin-top: 10px;
  color: var(--primary-color);
  border-bottom: 2px solid var(--second-color);
}

.logo small {
  color: var(--second-color);
  font-weight: 500;
  margin-bottom: 10px;
}

.header nav {
  display: flex;
  gap: 50px;
  font-size: 18px;
  font-weight: 500;
}

.navbar a {
  color: var(--primary-color);
}

.navbar a:hover {
  border-bottom: 2px solid var(--second-color);
}
